
    /*main*/
    .LogoMobilePlatform {
      background-image: url(undefined);
      width: 50px;
      height: 32px;
    }
    @media screen and (min-width: 433px){
      .LogoMobilePlatform {
          background-image: url(/img/mobile/partners/111/big.png);
          width: 150px;
          height: 32px;
      }
    }
    body, #wrapper{
        background-color:#313131;
        color:#fff;
    }
    .bgMain,
    .ui-collapsible-content {
        background-color: transparent !important;
    }
    .successmassage {
      background-color: #c9eac7;
      color: #000;
    }
    #EmailVerifieError, #MobileVerifieError {
      background-color: #eacdc7;
      color: #000;
    }
    /*checkboxes*/
   
    /*header*/
    #header {
        background-color: #1a1a1a !important;
        color: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }
    #header a{
        color: #fff;
    }
    .LinkToLeftPanel,
    a.LinkToLeftPanel,
    #menu-right .arrow:after {
        color: #fff;
    }    
    .btn_sec,
    a.btn_sec {
        background-color: #434343 !important;
        color: #b3b3b3 !important;
    }
    
    .btn_prim,
    a.btn_prim {
        background-color: #00E777 !important;
        color: #000 !important;
    }
    
    /*main nav*/
    .landing_contet {
      background-color:#313131 !important;
      color:#fff;
    }
    .nav_item {
        background-color: rgba(26,26,26,0.877) !important;
        border-radius: 8px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }
    
    .nav_title {
        font-size: 14px;
        color: #fff;
    }
    
    .nav_item > img {
        padding: 15px 45px 50px;
        max-height: 29vw;
        object-fit: contain;
    }
    
    /*sidebars*/
    #left-panel,
    #language-panel,
    #right-panel {
        background-color: #313131 !important;
        color: #fff !important;
    }
    .menuBtn,
    a.menuBtn,
    .menuBtnSm,
    a.menuBtnSm,
    .menuRow,
    a.menuRow {
        background-color: #434343;
        color: #fff !important;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }
    
    .menuBtn a,
    a.menuBtn a {
        color: #fff !important;
    }
    
    .collapse_dropdown_leftmenu_btn:after {
        border-color: #fff transparent transparent transparent;
    }
    
    .platformLoginInput,
    .platformPassInput {
        background-color: #313131;
        color: #fff !important;
    }
    
    /*widget name*/
    .name_vidget {
        background-color: rgba(26,26,26,0.877);
        color: #fff !important;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }
    
    /*footer*/
    #footer{
        background-color:#1a1a1a !important;
        color:#b3b3b3;
        padding: 24px 16px 100px 16px;
    }
    .MobileIcon{
        border:0;
        display: inline-flex !important;
        padding: 0 16px;
        align-items: center;
        width: auto;
    }
    
    .footer_title,
    .footer_links a {
        font-size: 13px;
        color:#b3b3b3;
    }
    
    .cannon_footer_txt,
    #copyright {
        color:#b3b3b3;
    }
    .promoted span:after {
        position: absolute;
        top: -13px;
        right: -5px;
        content: 'new';
        text-transform:uppercase;
        width: 23px;
        height: 15px;
        line-height: 15px;
        text-align:center;
        font-size:8px;
        border-radius:4px;
        background-color:#00E777;
        color:#000;
    }
    
    /*payments*/
    .heading {
        background-color: #313131 !important;
        color: #00E777 !important;
        border-bottom: 2px solid #00E777;
    }
    .tl_mail_header:before{
        color: #00E777 !important;
    }
    #content_paym .paym_txt1,
    #content_paym .paym_txt,
    #content_paym .paym_cond {
        color: #fff;
    }
    #content_paym .paym_cond > span {
        color: #fff;
    }
    .collapse_btn h3 > a {
        background-color: #1a1a1a;
        color: #fff !important;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        border: 0;
    }
    .collapse_btn h3 > a:before {
        color: currentColor !important;
    }
    #content_paym label,
    .required-field {
        color: #fff;
    }
    #content_paym .inp {
        background-color: #434343;
        color: #fff;
    }

    /*my account*/
    .accRowClr{
        background-color: #1a1a1a;
        color: #fff;
    }
    .accRowClr td{
        color: #fff;
    }
    .ui-input-text input,
    .tl_mail_send_area,
    .ui-select{
      background-color: #434343;
      color: #b3b3b3;
    }
    /*inbox*/
    .deleteAll_icon, .readAll_icon {
      color: #b3b3b3;
      padding: 9px 8px;
    }
    .tl_mail_item,
    .tl_mail_row,
    .tl_mail_message_body{
      background-color: #1a1a1a;
      color: #b3b3b3;
    }
    .tl_mail_icon,
    .tl_mail_details_title,
    .tl_mail_details_title{
      color: #b3b3b3;
    }
    .tl_mail_details,
    .tl_mail_attachfiel_screp{
      color: #fff;
    }
    .tl_mail_msgId{
      color: #00E777;
    }
    .tl_mail_attachfiel_download_btn{
      background-color: #1a1a1a;
      color: #b3b3b3;
    }
    /*profile*/
    .reg_prof__element_row label{
      color: #fff;
    }

    /*promotions*/
    .filters_slider_cont{
      background-color: #1a1a1a;
      color: #b3b3b3;
    }
    .tl_prom_slider_items.btn_sec{
      color: #b3b3b3 !important;
    }
    .tl_prom_slider_items.btn_sec.promo_clicked{
      color: #00E777 !important;
    }
    #slideLeft {
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      box-shadow: -20px 0px 41px 68px rgba(0, 0, 0, 0.3);
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    }
    #slideRight {
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      box-shadow: -23px 0px 41px 68px rgba(0, 0, 0, 0.3);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    }
    .promo_mobile_cont{
      background-color: #1a1a1a;
      color: #fff;
    }
    .promo_mobile_title{
      color: #00E777;
    }
    .tl_promotions_more_info {
      background-color: #434343;
      color: #fff !important;
    }


    /*casino*/
    .casino_nav__links_block {
      background-color: #1a1a1a;
      color: #fff;
    }
    a.casino_nav_links_mob,
    .casino_nav_links_mob{
      color: #fff;
    }
    a.casino_nav_links_mob.active,
    .casino_nav_links_mob.active{
      color: #00E777;
    }
    .casino__container .New:after{
      background-color: #00E777;
      color: #000;
    }
    .casino__container .New:before {
      content: "";
      border: 3px solid transparent;
      position: absolute;
      z-index: 3;
      top: 15px;
      right: -10px;
      z-index: 4;
      border-top-color: #00E777;
      border-right-color: #00E777;
    }
    /*casino sticky menu bot*/
    .fixed_menu__play_button{
      background-color: #313131;
      color: #fff;
    }
    .menu_circle:before {
      box-shadow: 4px 3px 40px 1200px #313131;
    }
    .fixed_menu__li {
      color: #fff;
    }
    .fixed_menu__li.active {
      color: #00E777;
    }


  